
.Body{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
    margin: 1em;
}

.col-sm-1 {
    padding: 1em;
    font-weight: 500;
}

.form-select{
    background-color: #1f1f1f; 
    color: #f1eded;    
}

.form-control{
    background-color: #1f1f1f; 
    color: #f1eded;
}

.encabezado{
    font-size: large;
    margin-left: 0.5em;
    font-weight: 600;
}

.titulo{
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

p{
    font-size: medium;
    /*padding: 1vh 1vh 0 1vh;*/
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.center{
    display: flex;
    justify-content: center;
}

